.button {
	padding: 10px 20px;

	background: var(--accent-color);
	border: 0;
	border-radius: 5px;
	cursor: pointer;

	color: white;

	transition: all 0.3s ease;

	&:hover {
		opacity: 0.7;
	}

	&:disabled {
		background: gray;
	}
}
