@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--accent-color: #a46017;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#root {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}
